.container {
  width: 100%;
}
.cardBox {
  padding-top: 3rem;
  border: 1px solid;
  height: 33vh;
  border-radius: 18px;
  width: 250px;
}
.sk {
  width: 25%;
}
.vvip {
  float: right;
  margin-right: 102px;
  height: 32px;
}
.title {
  color: deeppink;
  text-align: initial;
  padding-left: 10px;
}

.mainBox {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  border-radius: 10px;
  padding: 40px;
}
.body {
  margin: 50px;
}
.main {
  background-color: aliceblue;
  margin: 50px;
}
.title-tag {
  font-weight: 500;
  padding-top: 10px;
}
.blu {
  color: #151587;
}
.gree {
  color: #33a333;
}
.lightb {
  color: #26c6da;
}

.cardBox {
  padding-top: 3rem;
  border: 1px solid;
  position: relative;
  background-color: aliceblue;
}
.image {
  margin-right: 160px;
}
.rotate {
  height: 355px;
  width: 225px;
  position: absolute;
  background-color: rgb(46 43 43 / 20%);
  border-radius: 10px;
}
div.rotate {
  float: left;
  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Safari */
  transform: rotate(-6deg);
}
